 .hero-banner {
 

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  align-items: center;
 
  width: 100%;
  height: 100%;
  position: relative; 
  overflow: hidden;  

  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
  }
.hero-img {
    width: 100%;
    min-height: 768px;
    object-fit: cover;
    display: block;
  }
  .container {
    position: relative;
   
    position: absolute; 
    top: 315px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
  }
  .hero-text  {
   align-items: center;
  
  }
 
 .swiper {
    width: 100%;
    min-height: 768px;
  }
 
 };

 .swiper-navigation-icon {
  display: none;
}



.products-arrow {
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
}

.products-arrow:focus,
.products-arrow:focus-visible {
  box-shadow: none;
}

.home-title {
  display: flex;
  align-items: center; 
  width: 100%;         
  font-size: 1.25rem;
  color: #ffffff;
  gap: 16px;          

  
  &::before,
  &::after {
    content: "";
    flex: 1;           
    height: 1px;       
    background-color: #ffffff; 
  }
}

.page-photo {
  width: 100%;
  min-height: 350px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.text-box {
  min-width: 0; 
  flex: 1; 

  overflow-wrap: break-word; 
  word-break: break-word;   
}

.card-body-blog {
  background-color: #ffffff;
  color: $primary-black;
  padding:24px 24px;
  height: 333px;
  border-radius: 0px 0px 8px 8px;

   .card-text {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  
  }
}
.card-text-body {
  color: $gray-300;
  font-size: 14px;
}
.text-data{
 
  color: $gray-600;
  margin-bottom: 8px;
}
.btn-blog{
border-radius: 80px;
padding: 12px 24px;
max-width: 120px;
margin-bottom: 24px;
text-align: center;
}

.blogCard-img-top{
  width: 100%;
  height: 240px;
  object-fit: cover;
  display: block;
  border-radius: 8px 8px 0px 0px;
}


.text-author{
  display: flex;
  color: $gray-500;
  text-align: bottom;
  justify-content: flex-end;
  font-size: 12px;
  padding-right: 8px;
 
}

.textCard-img-top{
    width: 100%;
  height: 240px;
  object-fit: cover;
  display: block;
  border: none;
  border-radius: 8px ;
}
.text-card-body {
  border: none;
  height: 200px;
}